@import 'tailwindcss';

html,
body {
    width: 100vw;
    background-color: black;
    color: white;
}

@theme {
    --color-white-50: #d9ecff;
    --color-blue-100: #2d2d38;
}

@layer utilities {
    .flex-center {
        @apply flex items-center justify-center;
    }
}
